.parent_container{
    padding: 0;
    background-color: #3b3b3b;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.container {
    max-width: 600px;
    width: 500px;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5;
}

.error {
    color: #dc2626;
    font-size: 14px;
    margin-bottom: 10px;
}

.success {
    color: #16a34a;
    font-size: 14px;
    margin-bottom: 10px;
}